// LINE HEIGHTS
// LINE HEIGHTS
@mixin lh-xs{
 line-height:  rem(13px);
}
@mixin lh-sm {
  line-height: rem(19px);
}
@mixin lh-md {
  line-height: rem(21px);
}
@mixin lh-lg {
  line-height: rem(28px);
}
@mixin lh-xl{
  line-height: rem(42px);
}
.lh-xs{
 @include  lh-xs;
}
.lh-sm {
  @include lh-sm;
}
.lh-md {
  @include lh-md;
}
.lh-lg {
  @include lh-lg;
}
.lh-xl{
  @include lh-xl;
}