/*
	EBM Global styles
*/
// html {
// 	&::-webkit-scrollbar { 
// 	display: none; 
// 	}
// }

body {
	font-size:$font-family-sans-serif; 
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.site-wrapper,
.site-content {
	position: relative;
}
/*BANNER PROMO */
header {
	margin: 0 auto;
	width: 100%;
	}
#promo {
  height: 32px;
  width: 100%;
  z-index: 50;
  position: relative;  
}
.close-promo{
  position: relative;
  font-size: 16px;
  left: 330px;	
 &:hover{
   color: #252a3d !important;
 }
}
#utility {
	border-radius: 0;
	min-height: 0;
	height: 35px;
	border: none;
}
/*Utilities*/
.logo-mobile > img{
  width: 8%;
}
.mr-125-md{
  margin-right: 125px !important;
}
/*FONT SIZES*/

@for $i from 8 through 30{
  .fs-#{$i*1} {
    font-size: (1px*$i) !important;
  }
}
@for $i from 1 through 10{
    .zi-#{$i*1} {
      z-index: (1*$i) !important;
    }
  }
.txt-gray-custom-color-footer{
   color:#ABABAB;	
   &:hover{
     color: $brand-primary;
   }
}

.br-0{
	border-radius:0 !important;
}
.bg-skyblue{
  background-color: #D5F7FD;
}
.btn-custom {
  padding: 5px 18px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}
.gray-hover-img:hover{
  @include transition(all .3s ease-in-out);
  opacity: 0.5;  
}
.bnt-atiende-summit{
  width:30%;  
}
.btn-form-custom{
	width:48%;
}
.btn-areas-custom{
	width:55%;
}
.btn-form-programas{
  width: 80%;
}
.textarea-custom{
  width: 97%;
}
.pb-15{
  padding-bottom:15px;
}
.p-custom-tag{
  border-radius: 2px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 3px;
  padding-top: 1px;
}
/*Style Form*/
select {
  background: url(../icons/arrow_down.png) no-repeat;
  position: relative !important;
  background-position-y: center;
  background-position-x: 98%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  background-size: 2%;
  appearance: none;
}
input[type=text]{
	border:1px solid rgba(97, 97, 97, 0.25);
}
input[type=mail]{
  border:1px solid rgba(97, 97, 97, 0.25);
}
textarea , select {
	border:1px solid rgba(97, 97, 97, 0.25);
}

$slideDistance: 100;
$slideDuration: .4s;

.checkbox {
  position: relative;
  top: rem(-6);
  margin: 0 1rem 0 0 ;
  cursor: pointer;
  
  &:before {
		@include transition(all .3s ease-in-out);
		content: "";
		position: absolute;
		left: 0;
		z-index: 1;
		width: 30px;
	  height: 30px;
		border: 1px solid rgba(97, 97, 97, 0.25); 
  }
  
  &:checked {
    &:before {
       @include transform(rotate(-45deg));
  		height: .5rem;
  		border-color: rgba(97, 97, 97, 0.81);
  		border-top-style: none;
  		border-right-style: none;
    } 
  }
  
  &:after {
    content: "";
    position: absolute;
    top: rem(-2);
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: #fff;
    cursor: pointer;
  }
}

/*COLLAPSE*/
.wrap{
  width:100%;
}
.collapse {
  border-bottom: none;
  transition: all 0.4s;
  max-height: 285px;
  overflow:hidden;
  cursor: pointer;
  padding: 10px;
  margin:0px;
  &.active {
    transition: all 0.2s,max-height 4.8s;
    margin: 10px -10px;
    max-height:3000px;
    padding:10px 20px;
    z-index: 200;
    color:#444;
  }   
}
.collapse-home *,
.collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.collapse-home {
  border-bottom: none;
  transition: all 0.4s;
  max-height: 68px;
  overflow:hidden;
  cursor: pointer;
  padding: 10px;
  margin:0px;
  &.active {
    transition: all 0.2s,max-height 4.8s;
    max-height:3000px;
    z-index: 200;
    color:#444;
  }   
}
/*PAGINATION CUSTOM BOOSTRAP*/
.pagination-custom{
  border: 1px solid white!important;
  margin-left: 0 !important;
  &:hover{
    border: 1px solid $brand-primary !important;
    background-color: white !important;
    color: $brand-primary;
    transition: 0.3s all ease-in-out; 
  }
}

// CAROUSEL
/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

//THEME

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: gray;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 30px;
}
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
	  left: 9px;
    top: 55px;
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 9px;
  top: 55px;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/
.owl-pagination{
  padding-bottom: 35px;	
}
.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
  display: block;
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #979797;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	background: #00BFDF;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

/*MODAL FORM*/
a{
    outline: 0;
    text-decoration: none;
}
.modal-bg {
    display: none;
    position: absolute;
    height: 1000vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(50, 50, 50, 0.5);
}
#modal {
  display: none;
  position: absolute;
  background-color: white;
  top: 8%;
  left: 41%;
  z-index: 101;
  width: 634px;
  height: 1388px;
  margin-top: -174px;
  margin-left: -170px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
#close{
  position: absolute;
  left: 94%;
  top: 12px;
  z-index: 5;
  background-color: transparent;
  border: transparent;
}
#close:hover{
    color: gray;
}
.text-in{
  text-decoration: none;
  color: #8B8B8B;
  position: absolute;
  top: 76.6%;
  left: 49%;
  font-size: 1.3em;
}
.input-texto{
  padding-left: 0px;
}
.input-contacto{
  height: 26px;
  width: 240px;
}
.area-custom-popup{
  width: 240px;
  height: 60px;
}
/*MENÚ RESPONSIVE*/
  /*RESPONSIVE MENÚ*/
  .site-menu {
    .nav-movil {
      position: fixed ;
      height: 55px;
      width: 100%;
      z-index: 99;
      @include flex-column-center;
      a {
        left: 7%;
        text-align: left;
        position: relative;
        float: left;
        width: 100px;
        img {
          width: 100px;
        }
      }
      p {
        position: absolute;
        margin: -30px 0 0 -15px;
        right: 12%;
        width: 70px;
      }
      .switch {
        width: 20px;
        height: 17px;
        position: absolute;
        right: 7%;
        margin: -30px 0px 0px -15px;
        cursor: pointer;
      }
      .switch.on:after {
          transform: rotate(-45deg) translate(5px, -5px);
      }
      .switch.on:before {
          transform: rotate(45deg) translate(5px, 5px);
      }
      .switch .menu-toggle {
          width: 100%;
          height: 3px;
          background: #fff;
          margin: 4px auto;
          transition: all 0.3s;
          backface-visibility: hidden;
      }
      .switch.on .menu-toggle {
          opacity: 0;
      }
      .switch:before, .switch:after {
          content: "";
          display: block;
          height: 3px;
          background: #fff;
          transition: all 0.3s;
          backface-visibility: hidden;
      }
    }
  }
  .hidde {
    visibility: hidden;
  }
  #overlay-menu {
    position: fixed;
    z-index: 12;
    width: 90%;
    height: 92%;
    top: 53px;
    left: 0;
    @include transform(translateX(-105%));
    @include transition(transform .5s ease);
    box-shadow: 10px 10px 5px hsla(0, 14%, 20%, 0.38);
    ul {
      list-style: none;
      li {
        height: 70px;
        font-size: 18px;
        font-size: rem(18px);
        a{
          &.active,
          &:active {
            color: $brand-primary;
            .line-menu-bottom{
              width: 20px;
              border-bottom: 2px solid $brand-primary;
            }
          }
        }
      }
    }
  }
  .open {
    @include transform(translateX(0)!important);
  }
 .row-content-links{
    position: absolute;
    bottom:0;
    width: 100%;
  }
/* AddThisEvent theme CSS
---------------------------------------------------------------------- */

/* General */
.addthisevent 							{visibility:hidden;}
.addthisevent span 						{display:none!important;}
.addthisevent .data 					{display:none!important;}

/* The button */
.addthisevent-drop 						{display:inline-block;position:relative;z-index:9;font-family:"museo-sans",Roboto,"Helvetica Neue",Helvetica,Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;color:#000!important;font-weight:300;line-height:100%;background:rgba(255, 255, 255, 0.65);border:1px solid rgba(255, 255, 255, 0);font-size:15px;text-decoration:none;padding:12px 12px 12px 17px;cursor:pointer;-webkit-font-smoothing:antialiased!important;text-shadow:1px 1px 1px rgba(0,0,0,0.004);}
.addthisevent-drop:active 				{top:1px;}
.addthisevent-selected 					{background-color:#f9f9f9;}
/* The drop down */
.addthisevent_dropdown 					{width:200px;position:absolute;z-index:9;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;margin-top:-2px;margin-left:-1px;border-top:1px solid #c8c8c8;border-right:1px solid #bebebe;border-bottom:1px solid #a8a8a8;border-left:1px solid #bebebe;-moz-border-radius:2px;-webkit-border-radius:2px;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);}
.addthisevent_dropdown span 			{display:block;line-height:100%;background:#fff;text-decoration:none;font-size:14px;color:#333;padding:9px 10px 9px 40px;}
.addthisevent_dropdown span:hover 		{background-color:#f4f4f4;color:#000;text-decoration:none;font-size:14px;}
.addthisevent_dropdown em 				{color:#999!important;font-size:12px!important;}
.addthisevent_dropdown .frs 			{background:#fff;color:#cacaca!important;cursor:pointer;font-size:9px!important;font-style:normal!important;font-weight:normal!important;line-height:110%!important;padding-left:10px;position:absolute;right:10px;text-align:right;text-decoration:none;top:5px;z-index:101;}
.addthisevent_dropdown .frs:hover 		{color:#999!important;}
.addthisevent_dropdown .ateappleical 	{background-image:url(../gfx/dropdown-apple-t1.png);background-position:13px 50%;background-repeat:no-repeat;}
.addthisevent_dropdown .ateoutlook 		{background-image:url(../gfx/dropdown-outlook-t1.png);background-position:13px 50%;background-repeat:no-repeat;}
.addthisevent_dropdown .ateoutlookcom 	{background-image:url(../gfx/dropdown-outlook-t1.png);background-position:13px 50%;background-repeat:no-repeat;}
.addthisevent_dropdown .ategoogle 		{background-image:url(../gfx/dropdown-google-t1.png);background-position:13px 50%;background-repeat:no-repeat;}
.addthisevent_dropdown .ateyahoo 		{background-image:url(../gfx/dropdown-yahoo-t1.png);background-position:13px 50%;background-repeat:no-repeat;}
.addthisevent_dropdown .atefacebook 	{background-image:url(../gfx/dropdown-facebook-t1.png);background-position:13px 50%;background-repeat:no-repeat;}
.addthisevent_dropdown .copyx 			{height:21px;display:block;position:relative;cursor:default;}
.addthisevent_dropdown .brx 			{height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;right:10px;top:9px;}
/*
	Media queries
*/
$xl-desktop: 1500px;
$xxl-desktop: 1980px;
@media only screen and (max-width: 320px){
  .pl-0-320{
    padding-left:0px !important;
  }
  .hide-320{
    display: none;
  }
}
@media #{$xs-only} {
     .fs-10-5-xs{
       font-size: 10.5px;
     }	
     .fs-14-5-xs{
      font-size: 14.5px !important;    
     }
     .fs-15-5-xs{
      font-size: 15.5px !important;    
     }   
     @for $i from 8 through 30{
       .fs-#{$i*1}-xs {
         font-size:(1px*$i) !important;
       }
     }
      #promo {
      height: 40px; 
      } 
      .lh-xs {
          line-height: 115% !important;
      }  
      .img-profile{
        width: 100%;
      } 
      .lh-custom{
       line-height: 1.5 !important;
      }	
      .owl-pagination{
       padding-bottom: 0px;	
       padding-top:35px;
      }
      .close-promo-responsive{
        position: relative;
        bottom: 7px;
      }
      .progfin{
       min-height: 86.25rem !important;    	
      }
      .owl-theme .owl-controls .owl-buttons div {
       display: none;
      }  
      .collapse {
        max-height: 550px;
      }
      .collapse.active {
        transition: all 0.2s,max-height 4.8s;
        margin: inherit;
        max-height: 3000px;
        padding: inherit;
        z-index: 200;
        color: #444;
      } 
      .btn-form-programas, 
      .btn-areas-custom,
      .btn-form-custom,
      .textarea-custom{    
        width: 100%;
      }
      .atiende-summit{
       background-size: 600% !important;
       .bnt-atiende-summit{
        width:45%;
       }  
      }
      #close {
        left: 90%;
      }
      #modal {
          display: none;
          position: absolute;
          background-color: white;
          top: 8%;
          left: 54.6%;
          z-index: 101;
          width: 309px;
          height: 1980px;
          margin-top: -174px;
          margin-left: -170px;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
      }  
      .dropdown-custom-size{
        background-size: 5% !important;
      }  
      .pl-0-320{
        padding-left:0px !important;
      }  
}

@media #{$sm-only} {
   .atiende-summit{
     background-size: 600% !important;
     .btn-atiende-summit{
       width:45%;
      }
    }  
    .collapse {
      max-height: 516px !important;
    } 
    .progfin{
     min-height: 86.25rem !important;    	
   }
   .btn-form-custom{
    width: 100%;
    }
    .logo-mobile > img {
        width: 4%;
    } 
    .font-scustom-26{
      font-size: 26.6px !important;
      font-weight: 100;
    }
    .pt-100-sm{
      padding-top: 100px !important;
    }    
    .txt-checkbox-contacto{
      position: relative;
      bottom: 18px;
      right: -40px;
    }
    .textarea-custom {
        width: 100%;
    }
    .pv-115-sm-d{
      padding-top:115px !important;
      padding-bottom:115px !important;
    }          
}
@media #{$md-only} {
  .close-promo-responsive{
    position: relative;
    bottom: 3px;
  }
  .progfin {
      min-height: 68.25rem !important;
  }  
  .logo-mobile > img{
    width: 3%;
  } 
  .w-100-cmd{
    width: 100% !important;
  }
  .w-90-cmd{
    width: 90px !important;
  }
  .fs-20-cmd{
    font-size: 20px !important;
  }
  .ph-0-cmd{
    padding-left:0px !important;
    padding-right:0px !important;
  }
  .pt-21-cmd{
    padding-top:21px !important;
  }
  .pl-14-sm-o{
    padding-left: 14px !important;
  } 
  .pl-35-cmd{
    padding-left:35px !important;
  }
  .pl-49-cmd{
    padding-left:49px !important;
  }
  .pl-55-cmd{
    padding-left:55px !important;
  }
  .pl-67-cmd {
      padding-left: 67px !important;
  } 
  .pv-115-sm-d{
    padding-top:115px !important;
    padding-bottom:115px !important;
  }  
  .txt-checkbox-contacto{
    position: relative;
    bottom: 18px;
    right: -40px;
  }
  .textarea-custom {
      width: 100%;
  }     
}
@media #{$lg-only} {}
@media #{$sm-down} {
   .collapse {
      max-height:300px !important;
      &.active {
      transition: all 0.2s,max-height 4.8s;
      margin: 10px -10px;
      max-height:3000px !important;
      padding:10px 20px;
      z-index: 200;
      color:#444;
    }      
   } 
    .progfin {
        min-height: 94.25rem !important;
    }
   .close-promo-responsive{
    position: relative;
    bottom: 8px;    
   }
   .btn-form-custom{
    width: 100%;
    }
    .mv-0-custom{
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    } 
    .p-21-sm-d{
      padding:21px !important;
    }
    .mt-21-sm-d{
      margin-top: 21px !important;
    }
    .mb-21-sm-d{
      margin-bottom: 21px !important;
    }
    .pl-0-sm-d{
      padding-left: 0px !important;
    }
    .pv-1417{
      padding-top:14px !important;
      padding-bottom:17px !important;
    }
    .pv-14-sm-d{
      padding-top:14px !important;
      padding-bottom:14px !important;
    }    
    .pl-10-sm-d{
      padding-left:8px !important;
    }
    .ph-0-sm-d{
      padding-left:0px !important;
      padding-right:0px !important;
    }
    .pl-27-sm-d {
        padding-left: 27px !important;
    }  
    .pv-35-sm-d{
      padding-top:35px !important;
      padding-bottom:35px !important;
    }
    .pl-35-sm-d{
      padding-left:35px !important;
    }  
    .pl-67-sm-d{
      padding-left:67px !important;
    }
    .mb-21-sm-d{
      margin-bottom: 21px !important;
    }

    .pt-21-sm-d{
      padding-top:21px !important;
    }
    .pt-70-sm-d{
      padding-top:70px !important;
    }
    .pv-75-sm-d{
      padding-top:75px !important;
      padding-bottom:75px !important;
    }  
    .pv-115-sm-d{
      padding-top:115px !important;
      padding-bottom:115px !important;
    }  
    .pt-100-xs{
      padding-top:100px !important;
    } 
    #modal {
        display: none;
        position: absolute;
        background-color: white;
        top: 8%;
        left: 29%;
        z-index: 101;
        width: 600px;
        height: 1640px;
        padding-top: 35px;
        margin-top: -174px;
        margin-left: -170px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    }
}
@media only screen and (min-width: 1440px){
  .ph-0-lgup{
    padding-left:0px !important;
    padding-right:0px !important; 
  }
}

@media only screen and (min-width: 768px){
  .container-md {
    width: 100%;
  }
  .pl-0-smup{
    padding-left: 0px !important;    
  }
  .pl-28-768{
    padding-left:28px !important;
  }
  .pt-22{
    padding-top:22px !important;
  }
  .pl-79-sm-6o {
    padding-left: 79px !important;
  } 
  .atiende-summit{
    padding-bottom:35px !important;
    padding-top:35px !important;    
  }  
}
@media only screen and (min-width: 640px){
  .pl-42-6{
    padding-left:42px !important;
  }
  .pl-15-sm-6o{
    padding-left: 15px !important;
  }
  .pl-28-sm-6o{
    padding-left:28px !important;
  }
  .pb-25-sm-6o{
    padding-bottom: 23px !important;
  }
  .pt-69-640{
    padding-top: 69px !important;
  } 
  .ph-0-i{
    padding-left: 0px !important;
    padding-right: 0px !important;
  } 
  .ph-14-64{
    padding-left: 14px !important;
    padding-right: 14px !important;
  }
  .pv-640-customit{
    padding-bottom: 0px !important;
    padding-top: 62px !important;
  }
  .pv-53-sm-d {
    padding-top: 53px !important;
    padding-bottom: 53px !important;
  }
  .mt-21-sm-d{
    margin-top: 21px !important;
  }
  .mt-32{
    margin-top: 32px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px){
    .dropdown-custom-size{
      background-size: 10% !important;
    }
    .mt-22-custom{
      margin-top: 20px !important;
    }
    .progfin {
        min-height: 49.25rem !important;
    }
    .pt-39-768 {
    padding-top: 79px !important;
    }  
    .pv-115-sm-d{
      padding-top:115px !important;
      padding-bottom:115px !important;
    } 
    .pv-53-sm-d {
    padding-top: 53px !important;
    padding-bottom: 53px !important;
    }
    .pl-27-sm-d {
      padding-left: 27px !important;
    } 
    .font-scustom-11 {
      font-size: 11.6px !important;
      font-weight: 100;  
    }  
    .mt-35-custom{
      margin-top: 35px !important; 
    } 
    .mr-35-custom{
      margin-right: 35px !important;
    }
    #modal {
        display: none;
        position: absolute;
        background-color: white;
        top: 8%;
        left: 34%;
        z-index: 101;
        width: 600px;
        height: 1640px;
        padding-top: 35px;
        margin-top: -174px;
        margin-left: -170px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    }    
    .pl-0-modal {
        padding-left: 0px !important;
    }
    .fs-11-custom{
      font-size: 11px !important;
    }    
}
@media only screen and (min-width: 640px) and (max-width: 960px){
    .dropdown-custom-size{
      background-size: 3% !important;
    }    
    .ph-0-custom{
      padding-left:0px !important;
      padding-right:0px !important;
    }
    .mb-21-custom{
      margin-bottom: 21px !important;
    }
    .mb-14-custom{
      margin-bottom: 14px !important;
    }
    .progfin {
      min-height: 46.25rem !important;
    }
    .ph-60-custom{
      padding-left: 60px !important;
      padding-right: 60px !important;
    }
    .pl-56-modal{
        padding-left: 56px !important;
    }
    .pv-42-custom{
      padding-top:42px !important;
      padding-bottom:42px !important;
    }
    .pl-30-custom{
      padding-left:30px !important; 
    } 
    .pl-42-custom{
      padding-left:42px !important;
    }    
    .pl-7-custom{
      padding-left:7px !important;
    }
    .pt-0-68{
      padding-top:0px !important;
    }
    .mt-0-640{
      margin-top: 0px !important;
    }
    .mt-70-68{
      margin-top: 70px !important
    }
    .mt-111-68 {
    margin-top: 111px !important;
    }  
    .pl-30-68{
      padding-left:30px !important;
    }
    .mt-40-68{
      margin-top: 42px !important;
    }
}
@media only screen and (min-width:1024px){
  .pt-35-1024{
      padding-bottom:35px !important;
  }
  .ph-30-1024{
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .pt-10-custom {
    padding-top: 10px !important;
  }
   .pl-28-1024{
    padding-left:28px !important;
   }
   .pl-0-1024{
    padding-left:0px !important;
   }
   .pb-35-1024{
    padding-bottom:35px !important;
   }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px){
  .collapse{
    max-height: 248px !important;
    &.active {
      transition: all 0.2s,max-height 4.8s;
      margin: 10px -10px;
      max-height:3000px !important;
      padding:10px 20px;
      z-index: 200;
      color:#444;
    }
  }
}
@media only screen and (min-width:1024px) and (max-width:1366px){
  .pl-pt-custom{
    padding-left: 30px !important;
    padding-top: 35px !important;
  }
  .pb-21-custom{
    padding-bottom:21px !important;
  }
  .pt-35-custom{
    padding-top:35px !important;
  }
  .mr-21-custom{
    margin-right: 21px !important;
  }
  .mv-0-24{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .p-14-24{
    padding: 14px !important;
  }
  .progfin{
    min-height: 42.25rem !important;
  }
  .mt-15-cs{
    margin-bottom: 15px !important;
  }
  .mb-15-1024{
    margin-bottom: 15px !important;
  }
}
@media only screen and (min-width:299px) and (max-width:767px){
  .mt-35-customize {
    margin-top: 35px !important;
  } 
}
@media #{$md-down} {
    .site-menu {
    .nav-movil {
      position: fixed;
      height: 55px;
      width: 100%;
      z-index: 99;
      @include flex-column-center;
      a {
        left: 7%;
        text-align: left;
        position: relative;
        float: left;
        width: 100px;
        img {
          width: 30%;
        }
      }
      p {
        position: absolute;
        margin: -30px 0 0 -15px;
        right: 12%;         
        width: 70px;
      }
      .switch {
        width: 20px;
        height: 17px;
        position: absolute;
        right: 7%;
        margin: -30px 0px 0px -15px;
        cursor: pointer;
      }
      .switch.on:after {
          transform: rotate(-45deg) translate(5px, -5px);
      }
      .switch.on:before {
          transform: rotate(45deg) translate(5px, 5px);
      }
      .switch .menu-toggle {
          width: 100%;
          height: 3px;
          background: #fff;
          margin: 4px auto;
          transition: all 0.3s;
          backface-visibility: hidden;
      }
      .switch.on .menu-toggle {
          opacity: 0;
      }
      .switch:before, .switch:after {
          content: "";
          display: block;
          height: 3px;
          background: #fff;
          transition: all 0.3s;
          backface-visibility: hidden;
        }
      }
    }
}
@media #{$lg-down} {}
@media #{$sm-up} {
  .pl-30-smup{
    padding-left: 30px !important;
    
  }
  .w-84{
    width: 84% !important;
  }
  .hide-smup{
    visibility: hidden;
  }
  .ph-0-x{
    padding-left: 0px !important;
    padding-right: 14px !important;
  }
  .pl-79-sm-6o {
    padding-left: 79px !important;
  } 
 
}
@media #{$md-up} {}
@media #{$lg-up} {}
@media only screen and (min-width: 1920px) {
  .mr-270 {
    margin-left: 270px !important;
  }
  .mr-277 {
    margin-left: 277px !important;
  }  
  .mr-343 {
      margin-left: 343px !important;
  }  
}
@media only screen and (min-width: $xl-desktop) {
  .mr-270{
    margin-left: 270px !important;
  }
}
@media only screen and (min-width: $xxl-desktop) {
    .mr-270{
    margin-left: 270px !important;
  }
}