/*
	Header
*/
$header-height-control: 97px; // Header
$tool-bar-height-control: 43px; // Header
.header {
	// @include position(absolute, 0 0 null 0);
	// @include position(fixed, 0 0 null 0);
	// z-index: 1000;
	// -webkit-backface-visibility: hidden; 
	// -webkit-transform: translateZ(0);
	@include normalize-text;
	min-height: $header-height-control;
	position:relative;
	background-color: white;
	width: 100%;
	z-index: 50;
	.container,
	.container-sm,
	.container-fluid {
	}
	.row {
		@include flex-row-space-between;
	}
	.header-left,
	.header-right {
		// width: 50%;
	}
	.header-left,
	.header-center,
	.header-right {
		@include flex-column-center;
		min-height: $header-height-control;
	}
	.header-left {
		
	}
	.header-center {
		text-align: center;
	}
	.header-right {
		@include flex-align-end;
		text-align: right;
	}
	.header-nav-center {
		  a {
			@include light;
			font-size:13.5px;
			display: inline-block;
			position: relative;
			margin-right: 21px;
			margin-right: rem(21px);
			padding: 4px 9px;
			&:hover{
				color: $brand-primary;
				text-decoration: none;
				transition: 0.3s all ease-in-out;
			}
			&.active,
			&:active {
				color: $brand-primary;
				.line-menu-bottom{
			    width: 20px;
			    border-bottom: 2px solid $brand-primary;
				}
			}
		}
	}
}
.header-scroll {
  position: fixed;
  opacity: 0;
  transition: 0.3s all ease-in-out; 
  z-index: 40;
  top: 0;
  &.active {
    opacity: 1; 
  }
}
/*
	Tool bar
*/
.tool-bar {
	@extend .header;
	background-color: $gray-tool-bar;
	height: $tool-bar-height-control;
	min-height: $tool-bar-height-control;
	font-size:14px;
	position: relative;
    z-index: 90;
	.tool-bar-left,
	.tool-bar-right {
		min-height: $tool-bar-height-control;
	}
	.tool-bar-left {
		@include flex-column-center;
	}
	.tool-bar-right {
		@include flex-align-center;
		@include flex-row-end;
	}
	.tool-bar-nav-left,
	.tool-bar-nav-right {
		a:not(.btn) {
			margin-right: 7px;
			&:hover,
			&.active {
			 color:#EDEDED;	
			 transition: 0.3s all ease-in-out;
			}
		}
	}
	.tool-bar-nav-right,
	.tool-bar-search-form {
		display: inline-block;
	}
	.tool-bar-search-form {
		width: 350px;
	}
	.tool-bar-nav-right {
		margin-left: $container-fluid;
		.btn {}
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
	.header .header-nav-center a, .tool-bar .header-nav-center a {
	    font-family: "museo-sans", Helvetica, Arial, sans-serif;
	    font-weight: 300;
	    font-style: normal;
	    font-size: 10.5px;
	    display: inline-block;
	    position: relative;
	    margin-right: 21px;
	    margin-right: 1.3125rem;
	    padding: 4px 9px;
	}
	.mt-customize{
		margin-top: 35px;
	}
	.mt-0-customize{
		margin-top: 0px !important;
	}
	.hide-customize{
		display: none;
	}
	.pt-0-customize{
		padding-top:0px !important;
	}
	.text-center-cuztomize{
		text-align: center !important;
	}
	.pv-customize{
		padding-top: 10px;
    padding-bottom: 50px;
	}
	.pv-10-customize{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	p.fs-12.fs-14-5-xs.font-scustom-24.font-scustom-11.text-gray.mt-35-lg.space-letter-area {
	    margin-top: 30px;
	}
	.pl-28-cs{
		padding-left: 28px !important;
	}	
}
