@charset "UTF-8";
/*
  Easy Box Model Imports
  Last update: 01.06.15
  Author: @MadeByGus - G. Andres Ibarra yo@soygus.com
	
	Optional without Grunt:
  sass --watch src/scss/style.scss:app/assets/css/style.css
*/
/*
	EBM Variables
*/
/* 
  Text in rem units
  Used in text-control partials
*/
/* PROJECT ESPECIFIC FONTS */
.thin {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.light {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.medium {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bold {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Background image blocks */
.bg-img-block {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-img-block-center {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-img-block-center-x {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.bg-img-block-center-y {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.bg-img-block-bottom {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.bg-img-block-top {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
}

.bg-img-block-left {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
}

.bg-img-block-right {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
}

.bg-img-block-size-100 {
  background-size: 100%;
}

.box-shadow {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(49, 50, 51, 0.15);
  -moz-box-shadow: 0px 3px 3px 0px rgba(49, 50, 51, 0.15);
  box-shadow: 0px 3px 3px 0px rgba(49, 50, 51, 0.15);
}

/*
	EBM:Ref
	Flexbox
*/
.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
}

.flex-row-ch > div, .flex-row-ch > section, .flex-row-ch > header, .flex-row-ch > footer, .flex-row-ch > main, .flex-row-ch > aside, .flex-row-ch > article,
.flex-row-ch > a, .flex-row-ch > span, .flex-row-ch > li, .flex-row-ch > p, .flex-row-ch > i, .flex-row-ch > em, .flex-row-ch > small, .flex-row-ch > blockquote, .flex-row-ch > pre, .flex-row-ch > code
> h1, .flex-row-ch > h2, .flex-row-ch > h3, .flex-row-ch > h4, .flex-row-ch > h5, .flex-row-ch > h6,
.flex-row-ch > .h1, .flex-row-ch > .h2, .flex-row-ch > .h3, .flex-row-ch > .h4, .flex-row-ch > .h5, .flex-row-ch > .h6, .flex-row-ch > .p,
.flex-row-ch > ul, .flex-row-ch > ol, .flex-row-ch > button {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
}

.flex-row-center {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.flex-row-center-ch > div, .flex-row-center-ch > section, .flex-row-center-ch > header, .flex-row-center-ch > footer, .flex-row-center-ch > main, .flex-row-center-ch > aside, .flex-row-center-ch > article,
.flex-row-center-ch > a, .flex-row-center-ch > span, .flex-row-center-ch > li, .flex-row-center-ch > p, .flex-row-center-ch > i, .flex-row-center-ch > em, .flex-row-center-ch > small, .flex-row-center-ch > blockquote, .flex-row-center-ch > pre, .flex-row-center-ch > code
> h1, .flex-row-center-ch > h2, .flex-row-center-ch > h3, .flex-row-center-ch > h4, .flex-row-center-ch > h5, .flex-row-center-ch > h6,
.flex-row-center-ch > .h1, .flex-row-center-ch > .h2, .flex-row-center-ch > .h3, .flex-row-center-ch > .h4, .flex-row-center-ch > .h5, .flex-row-center-ch > .h6, .flex-row-center-ch > .p,
.flex-row-center-ch > ul, .flex-row-center-ch > ol, .flex-row-center-ch > button {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.flex-row-end {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

.flex-row-end-ch > div, .flex-row-end-ch > section, .flex-row-end-ch > header, .flex-row-end-ch > footer, .flex-row-end-ch > main, .flex-row-end-ch > aside, .flex-row-end-ch > article,
.flex-row-end-ch > a, .flex-row-end-ch > span, .flex-row-end-ch > li, .flex-row-end-ch > p, .flex-row-end-ch > i, .flex-row-end-ch > em, .flex-row-end-ch > small, .flex-row-end-ch > blockquote, .flex-row-end-ch > pre, .flex-row-end-ch > code
> h1, .flex-row-end-ch > h2, .flex-row-end-ch > h3, .flex-row-end-ch > h4, .flex-row-end-ch > h5, .flex-row-end-ch > h6,
.flex-row-end-ch > .h1, .flex-row-end-ch > .h2, .flex-row-end-ch > .h3, .flex-row-end-ch > .h4, .flex-row-end-ch > .h5, .flex-row-end-ch > .h6, .flex-row-end-ch > .p,
.flex-row-end-ch > ul, .flex-row-end-ch > ol, .flex-row-end-ch > button {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

.flex-row-space-between {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.flex-row-space-between-ch > div, .flex-row-space-between-ch > section, .flex-row-space-between-ch > header, .flex-row-space-between-ch > footer, .flex-row-space-between-ch > main, .flex-row-space-between-ch > aside, .flex-row-space-between-ch > article,
.flex-row-space-between-ch > a, .flex-row-space-between-ch > span, .flex-row-space-between-ch > li, .flex-row-space-between-ch > p, .flex-row-space-between-ch > i, .flex-row-space-between-ch > em, .flex-row-space-between-ch > small, .flex-row-space-between-ch > blockquote, .flex-row-space-between-ch > pre, .flex-row-space-between-ch > code
> h1, .flex-row-space-between-ch > h2, .flex-row-space-between-ch > h3, .flex-row-space-between-ch > h4, .flex-row-space-between-ch > h5, .flex-row-space-between-ch > h6,
.flex-row-space-between-ch > .h1, .flex-row-space-between-ch > .h2, .flex-row-space-between-ch > .h3, .flex-row-space-between-ch > .h4, .flex-row-space-between-ch > .h5, .flex-row-space-between-ch > .h6, .flex-row-space-between-ch > .p,
.flex-row-space-between-ch > ul, .flex-row-space-between-ch > ol, .flex-row-space-between-ch > button {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.flex-row-space-around {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
}

.flex-row-space-around-ch > div, .flex-row-space-around-ch > section, .flex-row-space-around-ch > header, .flex-row-space-around-ch > footer, .flex-row-space-around-ch > main, .flex-row-space-around-ch > aside, .flex-row-space-around-ch > article,
.flex-row-space-around-ch > a, .flex-row-space-around-ch > span, .flex-row-space-around-ch > li, .flex-row-space-around-ch > p, .flex-row-space-around-ch > i, .flex-row-space-around-ch > em, .flex-row-space-around-ch > small, .flex-row-space-around-ch > blockquote, .flex-row-space-around-ch > pre, .flex-row-space-around-ch > code
> h1, .flex-row-space-around-ch > h2, .flex-row-space-around-ch > h3, .flex-row-space-around-ch > h4, .flex-row-space-around-ch > h5, .flex-row-space-around-ch > h6,
.flex-row-space-around-ch > .h1, .flex-row-space-around-ch > .h2, .flex-row-space-around-ch > .h3, .flex-row-space-around-ch > .h4, .flex-row-space-around-ch > .h5, .flex-row-space-around-ch > .h6, .flex-row-space-around-ch > .p,
.flex-row-space-around-ch > ul, .flex-row-space-around-ch > ol, .flex-row-space-around-ch > button {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
}

.flex-column {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}

.flex-column-ch > div, .flex-column-ch > section, .flex-column-ch > header, .flex-column-ch > footer, .flex-column-ch > main, .flex-column-ch > aside, .flex-column-ch > article,
.flex-column-ch > a, .flex-column-ch > span, .flex-column-ch > li, .flex-column-ch > p, .flex-column-ch > i, .flex-column-ch > em, .flex-column-ch > small, .flex-column-ch > blockquote, .flex-column-ch > pre, .flex-column-ch > code
> h1, .flex-column-ch > h2, .flex-column-ch > h3, .flex-column-ch > h4, .flex-column-ch > h5, .flex-column-ch > h6,
.flex-column-ch > .h1, .flex-column-ch > .h2, .flex-column-ch > .h3, .flex-column-ch > .h4, .flex-column-ch > .h5, .flex-column-ch > .h6, .flex-column-ch > .p,
.flex-column-ch > ul, .flex-column-ch > ol, .flex-column-ch > button {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}

.flex-column-center {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.flex-column-center-ch > div, .flex-column-center-ch > section, .flex-column-center-ch > header, .flex-column-center-ch > footer, .flex-column-center-ch > main, .flex-column-center-ch > aside, .flex-column-center-ch > article,
.flex-column-center-ch > a, .flex-column-center-ch > span, .flex-column-center-ch > li, .flex-column-center-ch > p, .flex-column-center-ch > i, .flex-column-center-ch > em, .flex-column-center-ch > small, .flex-column-center-ch > blockquote, .flex-column-center-ch > pre, .flex-column-center-ch > code
> h1, .flex-column-center-ch > h2, .flex-column-center-ch > h3, .flex-column-center-ch > h4, .flex-column-center-ch > h5, .flex-column-center-ch > h6,
.flex-column-center-ch > .h1, .flex-column-center-ch > .h2, .flex-column-center-ch > .h3, .flex-column-center-ch > .h4, .flex-column-center-ch > .h5, .flex-column-center-ch > .h6, .flex-column-center-ch > .p,
.flex-column-center-ch > ul, .flex-column-center-ch > ol, .flex-column-center-ch > button {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.flex-column-end {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

.flex-column-end-ch > div, .flex-column-end-ch > section, .flex-column-end-ch > header, .flex-column-end-ch > footer, .flex-column-end-ch > main, .flex-column-end-ch > aside, .flex-column-end-ch > article,
.flex-column-end-ch > a, .flex-column-end-ch > span, .flex-column-end-ch > li, .flex-column-end-ch > p, .flex-column-end-ch > i, .flex-column-end-ch > em, .flex-column-end-ch > small, .flex-column-end-ch > blockquote, .flex-column-end-ch > pre, .flex-column-end-ch > code
> h1, .flex-column-end-ch > h2, .flex-column-end-ch > h3, .flex-column-end-ch > h4, .flex-column-end-ch > h5, .flex-column-end-ch > h6,
.flex-column-end-ch > .h1, .flex-column-end-ch > .h2, .flex-column-end-ch > .h3, .flex-column-end-ch > .h4, .flex-column-end-ch > .h5, .flex-column-end-ch > .h6, .flex-column-end-ch > .p,
.flex-column-end-ch > ul, .flex-column-end-ch > ol, .flex-column-end-ch > button {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

.flex-column-space-between {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.flex-column-space-between-ch > div, .flex-column-space-between-ch > section, .flex-column-space-between-ch > header, .flex-column-space-between-ch > footer, .flex-column-space-between-ch > main, .flex-column-space-between-ch > aside, .flex-column-space-between-ch > article,
.flex-column-space-between-ch > a, .flex-column-space-between-ch > span, .flex-column-space-between-ch > li, .flex-column-space-between-ch > p, .flex-column-space-between-ch > i, .flex-column-space-between-ch > em, .flex-column-space-between-ch > small, .flex-column-space-between-ch > blockquote, .flex-column-space-between-ch > pre, .flex-column-space-between-ch > code
> h1, .flex-column-space-between-ch > h2, .flex-column-space-between-ch > h3, .flex-column-space-between-ch > h4, .flex-column-space-between-ch > h5, .flex-column-space-between-ch > h6,
.flex-column-space-between-ch > .h1, .flex-column-space-between-ch > .h2, .flex-column-space-between-ch > .h3, .flex-column-space-between-ch > .h4, .flex-column-space-between-ch > .h5, .flex-column-space-between-ch > .h6, .flex-column-space-between-ch > .p,
.flex-column-space-between-ch > ul, .flex-column-space-between-ch > ol, .flex-column-space-between-ch > button {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.flex-column-space-around {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
}

.flex-column-space-around-ch > div, .flex-column-space-around-ch > section, .flex-column-space-around-ch > header, .flex-column-space-around-ch > footer, .flex-column-space-around-ch > main, .flex-column-space-around-ch > aside, .flex-column-space-around-ch > article,
.flex-column-space-around-ch > a, .flex-column-space-around-ch > span, .flex-column-space-around-ch > li, .flex-column-space-around-ch > p, .flex-column-space-around-ch > i, .flex-column-space-around-ch > em, .flex-column-space-around-ch > small, .flex-column-space-around-ch > blockquote, .flex-column-space-around-ch > pre, .flex-column-space-around-ch > code
> h1, .flex-column-space-around-ch > h2, .flex-column-space-around-ch > h3, .flex-column-space-around-ch > h4, .flex-column-space-around-ch > h5, .flex-column-space-around-ch > h6,
.flex-column-space-around-ch > .h1, .flex-column-space-around-ch > .h2, .flex-column-space-around-ch > .h3, .flex-column-space-around-ch > .h4, .flex-column-space-around-ch > .h5, .flex-column-space-around-ch > .h6, .flex-column-space-around-ch > .p,
.flex-column-space-around-ch > ul, .flex-column-space-around-ch > ol, .flex-column-space-around-ch > button {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
}

.flex-align-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.flex-align-center-ch > div, .flex-align-center-ch > section, .flex-align-center-ch > header, .flex-align-center-ch > footer, .flex-align-center-ch > main, .flex-align-center-ch > aside, .flex-align-center-ch > article,
.flex-align-center-ch > a, .flex-align-center-ch > span, .flex-align-center-ch > li, .flex-align-center-ch > p, .flex-align-center-ch > i, .flex-align-center-ch > em, .flex-align-center-ch > small, .flex-align-center-ch > blockquote, .flex-align-center-ch > pre, .flex-align-center-ch > code
> h1, .flex-align-center-ch > h2, .flex-align-center-ch > h3, .flex-align-center-ch > h4, .flex-align-center-ch > h5, .flex-align-center-ch > h6,
.flex-align-center-ch > .h1, .flex-align-center-ch > .h2, .flex-align-center-ch > .h3, .flex-align-center-ch > .h4, .flex-align-center-ch > .h5, .flex-align-center-ch > .h6, .flex-align-center-ch > .p,
.flex-align-center-ch > ul, .flex-align-center-ch > ol, .flex-align-center-ch > button {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.flex-align-end {
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end;
}

.flex-align-end-ch > div, .flex-align-end-ch > section, .flex-align-end-ch > header, .flex-align-end-ch > footer, .flex-align-end-ch > main, .flex-align-end-ch > aside, .flex-align-end-ch > article,
.flex-align-end-ch > a, .flex-align-end-ch > span, .flex-align-end-ch > li, .flex-align-end-ch > p, .flex-align-end-ch > i, .flex-align-end-ch > em, .flex-align-end-ch > small, .flex-align-end-ch > blockquote, .flex-align-end-ch > pre, .flex-align-end-ch > code
> h1, .flex-align-end-ch > h2, .flex-align-end-ch > h3, .flex-align-end-ch > h4, .flex-align-end-ch > h5, .flex-align-end-ch > h6,
.flex-align-end-ch > .h1, .flex-align-end-ch > .h2, .flex-align-end-ch > .h3, .flex-align-end-ch > .h4, .flex-align-end-ch > .h5, .flex-align-end-ch > .h6, .flex-align-end-ch > .p,
.flex-align-end-ch > ul, .flex-align-end-ch > ol, .flex-align-end-ch > button {
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end;
}

.flex-align-stretch {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
}

.flex-align-stretch-ch > div, .flex-align-stretch-ch > section, .flex-align-stretch-ch > header, .flex-align-stretch-ch > footer, .flex-align-stretch-ch > main, .flex-align-stretch-ch > aside, .flex-align-stretch-ch > article,
.flex-align-stretch-ch > a, .flex-align-stretch-ch > span, .flex-align-stretch-ch > li, .flex-align-stretch-ch > p, .flex-align-stretch-ch > i, .flex-align-stretch-ch > em, .flex-align-stretch-ch > small, .flex-align-stretch-ch > blockquote, .flex-align-stretch-ch > pre, .flex-align-stretch-ch > code
> h1, .flex-align-stretch-ch > h2, .flex-align-stretch-ch > h3, .flex-align-stretch-ch > h4, .flex-align-stretch-ch > h5, .flex-align-stretch-ch > h6,
.flex-align-stretch-ch > .h1, .flex-align-stretch-ch > .h2, .flex-align-stretch-ch > .h3, .flex-align-stretch-ch > .h4, .flex-align-stretch-ch > .h5, .flex-align-stretch-ch > .h6, .flex-align-stretch-ch > .p,
.flex-align-stretch-ch > ul, .flex-align-stretch-ch > ol, .flex-align-stretch-ch > button {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
}

@media only screen and (max-width: 480px) {
  .flex-break-xs {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
  }

  .flex-break-xs-ch > div, .flex-break-xs-ch > section, .flex-break-xs-ch > header, .flex-break-xs-ch > footer, .flex-break-xs-ch > main, .flex-break-xs-ch > aside, .flex-break-xs-ch > article,
  .flex-break-xs-ch > a, .flex-break-xs-ch > span, .flex-break-xs-ch > li, .flex-break-xs-ch > p, .flex-break-xs-ch > i, .flex-break-xs-ch > em, .flex-break-xs-ch > small, .flex-break-xs-ch > blockquote, .flex-break-xs-ch > pre, .flex-break-xs-ch > code
  > h1, .flex-break-xs-ch > h2, .flex-break-xs-ch > h3, .flex-break-xs-ch > h4, .flex-break-xs-ch > h5, .flex-break-xs-ch > h6,
  .flex-break-xs-ch > .h1, .flex-break-xs-ch > .h2, .flex-break-xs-ch > .h3, .flex-break-xs-ch > .h4, .flex-break-xs-ch > .h5, .flex-break-xs-ch > .h6, .flex-break-xs-ch > .p,
  .flex-break-xs-ch > ul, .flex-break-xs-ch > ol, .flex-break-xs-ch > button {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  .flex-break-sm {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
  }

  .flex-break-sm-ch > div, .flex-break-sm-ch > section, .flex-break-sm-ch > header, .flex-break-sm-ch > footer, .flex-break-sm-ch > main, .flex-break-sm-ch > aside, .flex-break-sm-ch > article,
  .flex-break-sm-ch > a, .flex-break-sm-ch > span, .flex-break-sm-ch > li, .flex-break-sm-ch > p, .flex-break-sm-ch > i, .flex-break-sm-ch > em, .flex-break-sm-ch > small, .flex-break-sm-ch > blockquote, .flex-break-sm-ch > pre, .flex-break-sm-ch > code
  > h1, .flex-break-sm-ch > h2, .flex-break-sm-ch > h3, .flex-break-sm-ch > h4, .flex-break-sm-ch > h5, .flex-break-sm-ch > h6,
  .flex-break-sm-ch > .h1, .flex-break-sm-ch > .h2, .flex-break-sm-ch > .h3, .flex-break-sm-ch > .h4, .flex-break-sm-ch > .h5, .flex-break-sm-ch > .h6, .flex-break-sm-ch > .p,
  .flex-break-sm-ch > ul, .flex-break-sm-ch > ol, .flex-break-sm-ch > button {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
  }
}
@media only screen and (min-width: 992px) {
  .flex-break-md {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
  }

  .flex-break-md-ch > div, .flex-break-md-ch > section, .flex-break-md-ch > header, .flex-break-md-ch > footer, .flex-break-md-ch > main, .flex-break-md-ch > aside, .flex-break-md-ch > article,
  .flex-break-md-ch > a, .flex-break-md-ch > span, .flex-break-md-ch > li, .flex-break-md-ch > p, .flex-break-md-ch > i, .flex-break-md-ch > em, .flex-break-md-ch > small, .flex-break-md-ch > blockquote, .flex-break-md-ch > pre, .flex-break-md-ch > code
  > h1, .flex-break-md-ch > h2, .flex-break-md-ch > h3, .flex-break-md-ch > h4, .flex-break-md-ch > h5, .flex-break-md-ch > h6,
  .flex-break-md-ch > .h1, .flex-break-md-ch > .h2, .flex-break-md-ch > .h3, .flex-break-md-ch > .h4, .flex-break-md-ch > .h5, .flex-break-md-ch > .h6, .flex-break-md-ch > .p,
  .flex-break-md-ch > ul, .flex-break-md-ch > ol, .flex-break-md-ch > button {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
  }
}
@media only screen and (min-width: 1200px) {
  .flex-break-lg {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
  }

  .flex-break-lg-ch > div, .flex-break-lg-ch > section, .flex-break-lg-ch > header, .flex-break-lg-ch > footer, .flex-break-lg-ch > main, .flex-break-lg-ch > aside, .flex-break-lg-ch > article,
  .flex-break-lg-ch > a, .flex-break-lg-ch > span, .flex-break-lg-ch > li, .flex-break-lg-ch > p, .flex-break-lg-ch > i, .flex-break-lg-ch > em, .flex-break-lg-ch > small, .flex-break-lg-ch > blockquote, .flex-break-lg-ch > pre, .flex-break-lg-ch > code
  > h1, .flex-break-lg-ch > h2, .flex-break-lg-ch > h3, .flex-break-lg-ch > h4, .flex-break-lg-ch > h5, .flex-break-lg-ch > h6,
  .flex-break-lg-ch > .h1, .flex-break-lg-ch > .h2, .flex-break-lg-ch > .h3, .flex-break-lg-ch > .h4, .flex-break-lg-ch > .h5, .flex-break-lg-ch > .h6, .flex-break-lg-ch > .p,
  .flex-break-lg-ch > ul, .flex-break-lg-ch > ol, .flex-break-lg-ch > button {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
  }
}
.flex-grow-1 {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
}

.flex-grow-2 {
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  flex-grow: 2;
  -ms-flex-positive: 2;
}

.flex-grow-3 {
  -webkit-flex-grow: 3;
  -moz-flex-grow: 3;
  flex-grow: 3;
  -ms-flex-positive: 3;
}

.flex-grow-4 {
  -webkit-flex-grow: 4;
  -moz-flex-grow: 4;
  flex-grow: 4;
  -ms-flex-positive: 4;
}

.flex-grow-5 {
  -webkit-flex-grow: 5;
  -moz-flex-grow: 5;
  flex-grow: 5;
  -ms-flex-positive: 5;
}

.flex-grow-6 {
  -webkit-flex-grow: 6;
  -moz-flex-grow: 6;
  flex-grow: 6;
  -ms-flex-positive: 6;
}

.flex-grow-7 {
  -webkit-flex-grow: 7;
  -moz-flex-grow: 7;
  flex-grow: 7;
  -ms-flex-positive: 7;
}

/*
	EBM Global styles
*/
body {
  font-size: "museo-sans", Helvetica, Arial, sans-serif;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.site-wrapper,
.site-content {
  position: relative;
}

/*BANNER PROMO */
header {
  margin: 0 auto;
  width: 100%;
}

#promo {
  height: 32px;
  width: 100%;
  z-index: 50;
  position: relative;
}

.close-promo {
  position: relative;
  font-size: 16px;
  left: 330px;
}
.close-promo:hover {
  color: #252a3d !important;
}

#utility {
  border-radius: 0;
  min-height: 0;
  height: 35px;
  border: none;
}

/*Utilities*/
.logo-mobile > img {
  width: 8%;
}

.mr-125-md {
  margin-right: 125px !important;
}

/*FONT SIZES*/
.fs-8 {
  font-size: 8px !important;
}

.fs-9 {
  font-size: 9px !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-19 {
  font-size: 19px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-21 {
  font-size: 21px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-23 {
  font-size: 23px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-25 {
  font-size: 25px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-27 {
  font-size: 27px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-29 {
  font-size: 29px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.zi-1 {
  z-index: 1 !important;
}

.zi-2 {
  z-index: 2 !important;
}

.zi-3 {
  z-index: 3 !important;
}

.zi-4 {
  z-index: 4 !important;
}

.zi-5 {
  z-index: 5 !important;
}

.zi-6 {
  z-index: 6 !important;
}

.zi-7 {
  z-index: 7 !important;
}

.zi-8 {
  z-index: 8 !important;
}

.zi-9 {
  z-index: 9 !important;
}

.zi-10 {
  z-index: 10 !important;
}

.txt-gray-custom-color-footer {
  color: #ABABAB;
}
.txt-gray-custom-color-footer:hover {
  color: #00BFDF;
}

.br-0 {
  border-radius: 0 !important;
}

.bg-skyblue {
  background-color: #D5F7FD;
}

.btn-custom {
  padding: 5px 18px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}

.gray-hover-img:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}

.bnt-atiende-summit {
  width: 30%;
}

.btn-form-custom {
  width: 48%;
}

.btn-areas-custom {
  width: 55%;
}

.btn-form-programas {
  width: 80%;
}

.textarea-custom {
  width: 97%;
}

.pb-15 {
  padding-bottom: 15px;
}

.p-custom-tag {
  border-radius: 2px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 3px;
  padding-top: 1px;
}

/*Style Form*/
select {
  background: url(../icons/arrow_down.png) no-repeat;
  position: relative !important;
  background-position-y: center;
  background-position-x: 98%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  background-size: 2%;
  appearance: none;
}

input[type=text] {
  border: 1px solid rgba(97, 97, 97, 0.25);
}

input[type=mail] {
  border: 1px solid rgba(97, 97, 97, 0.25);
}

textarea, select {
  border: 1px solid rgba(97, 97, 97, 0.25);
}

.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(97, 97, 97, 0.25);
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: rgba(97, 97, 97, 0.81);
  border-top-style: none;
  border-right-style: none;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

/*COLLAPSE*/
.wrap {
  width: 100%;
}

.collapse {
  border-bottom: none;
  transition: all 0.4s;
  max-height: 285px;
  overflow: hidden;
  cursor: pointer;
  padding: 10px;
  margin: 0px;
}
.collapse.active {
  transition: all 0.2s,max-height 4.8s;
  margin: 10px -10px;
  max-height: 3000px;
  padding: 10px 20px;
  z-index: 200;
  color: #444;
}

.collapse-home *,
.collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.collapse-home {
  border-bottom: none;
  transition: all 0.4s;
  max-height: 68px;
  overflow: hidden;
  cursor: pointer;
  padding: 10px;
  margin: 0px;
}
.collapse-home.active {
  transition: all 0.2s,max-height 4.8s;
  max-height: 3000px;
  z-index: 200;
  color: #444;
}

/*PAGINATION CUSTOM BOOSTRAP*/
.pagination-custom {
  border: 1px solid white !important;
  margin-left: 0 !important;
}
.pagination-custom:hover {
  border: 1px solid #00BFDF !important;
  background-color: white !important;
  color: #00BFDF;
  transition: 0.3s all ease-in-out;
}

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
.owl-carousel {
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
  color: gray;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 30px;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 9px;
  top: 55px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 9px;
  top: 55px;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/
.owl-pagination {
  padding-bottom: 35px;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #979797;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  background: #00BFDF;
}

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}

/*MODAL FORM*/
a {
  outline: 0;
  text-decoration: none;
}

.modal-bg {
  display: none;
  position: absolute;
  height: 1000vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(50, 50, 50, 0.5);
}

#modal {
  display: none;
  position: absolute;
  background-color: white;
  top: 8%;
  left: 41%;
  z-index: 101;
  width: 634px;
  height: 1388px;
  margin-top: -174px;
  margin-left: -170px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

#close {
  position: absolute;
  left: 94%;
  top: 12px;
  z-index: 5;
  background-color: transparent;
  border: transparent;
}

#close:hover {
  color: gray;
}

.text-in {
  text-decoration: none;
  color: #8B8B8B;
  position: absolute;
  top: 76.6%;
  left: 49%;
  font-size: 1.3em;
}

.input-texto {
  padding-left: 0px;
}

.input-contacto {
  height: 26px;
  width: 240px;
}

.area-custom-popup {
  width: 240px;
  height: 60px;
}

/*MEN├Ü RESPONSIVE*/
/*RESPONSIVE MEN├Ü*/
.site-menu .nav-movil {
  position: fixed;
  height: 55px;
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.site-menu .nav-movil a {
  left: 7%;
  text-align: left;
  position: relative;
  float: left;
  width: 100px;
}
.site-menu .nav-movil a img {
  width: 100px;
}
.site-menu .nav-movil p {
  position: absolute;
  margin: -30px 0 0 -15px;
  right: 12%;
  width: 70px;
}
.site-menu .nav-movil .switch {
  width: 20px;
  height: 17px;
  position: absolute;
  right: 7%;
  margin: -30px 0px 0px -15px;
  cursor: pointer;
}
.site-menu .nav-movil .switch.on:after {
  transform: rotate(-45deg) translate(5px, -5px);
}
.site-menu .nav-movil .switch.on:before {
  transform: rotate(45deg) translate(5px, 5px);
}
.site-menu .nav-movil .switch .menu-toggle {
  width: 100%;
  height: 3px;
  background: #fff;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}
.site-menu .nav-movil .switch.on .menu-toggle {
  opacity: 0;
}
.site-menu .nav-movil .switch:before, .site-menu .nav-movil .switch:after {
  content: "";
  display: block;
  height: 3px;
  background: #fff;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.hidde {
  visibility: hidden;
}

#overlay-menu {
  position: fixed;
  z-index: 12;
  width: 90%;
  height: 92%;
  top: 53px;
  left: 0;
  -webkit-transform: translateX(-105%);
  -moz-transform: translateX(-105%);
  -ms-transform: translateX(-105%);
  -o-transform: translateX(-105%);
  transform: translateX(-105%);
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  transition: transform 0.5s ease;
  box-shadow: 10px 10px 5px rgba(58, 44, 44, 0.38);
}
#overlay-menu ul {
  list-style: none;
}
#overlay-menu ul li {
  height: 70px;
  font-size: 18px;
  font-size: 1.125rem;
}
#overlay-menu ul li a.active, #overlay-menu ul li a:active {
  color: #00BFDF;
}
#overlay-menu ul li a.active .line-menu-bottom, #overlay-menu ul li a:active .line-menu-bottom {
  width: 20px;
  border-bottom: 2px solid #00BFDF;
}

.open {
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transform: translateX(0) !important;
}

.row-content-links {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* AddThisEvent theme CSS
---------------------------------------------------------------------- */
/* General */
.addthisevent {
  visibility: hidden;
}

.addthisevent span {
  display: none !important;
}

.addthisevent .data {
  display: none !important;
}

/* The button */
.addthisevent-drop {
  display: inline-block;
  position: relative;
  z-index: 9;
  font-family: "museo-sans",Roboto,"Helvetica Neue",Helvetica,Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
  color: #000 !important;
  font-weight: 300;
  line-height: 100%;
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid rgba(255, 255, 255, 0);
  font-size: 15px;
  text-decoration: none;
  padding: 12px 12px 12px 17px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.addthisevent-drop:active {
  top: 1px;
}

.addthisevent-selected {
  background-color: #f9f9f9;
}

/* The drop down */
.addthisevent_dropdown {
  width: 200px;
  position: absolute;
  z-index: 9;
  padding: 6px 0px 0px 0px;
  background: #fff;
  text-align: left;
  display: none;
  margin-top: -2px;
  margin-left: -1px;
  border-top: 1px solid #c8c8c8;
  border-right: 1px solid #bebebe;
  border-bottom: 1px solid #a8a8a8;
  border-left: 1px solid #bebebe;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
}

.addthisevent_dropdown span {
  display: block;
  line-height: 100%;
  background: #fff;
  text-decoration: none;
  font-size: 14px;
  color: #333;
  padding: 9px 10px 9px 40px;
}

.addthisevent_dropdown span:hover {
  background-color: #f4f4f4;
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

.addthisevent_dropdown em {
  color: #999 !important;
  font-size: 12px !important;
}

.addthisevent_dropdown .frs {
  background: #fff;
  color: #cacaca !important;
  cursor: pointer;
  font-size: 9px !important;
  font-style: normal !important;
  font-weight: normal !important;
  line-height: 110% !important;
  padding-left: 10px;
  position: absolute;
  right: 10px;
  text-align: right;
  text-decoration: none;
  top: 5px;
  z-index: 101;
}

.addthisevent_dropdown .frs:hover {
  color: #999 !important;
}

.addthisevent_dropdown .ateappleical {
  background-image: url(../gfx/dropdown-apple-t1.png);
  background-position: 13px 50%;
  background-repeat: no-repeat;
}

.addthisevent_dropdown .ateoutlook {
  background-image: url(../gfx/dropdown-outlook-t1.png);
  background-position: 13px 50%;
  background-repeat: no-repeat;
}

.addthisevent_dropdown .ateoutlookcom {
  background-image: url(../gfx/dropdown-outlook-t1.png);
  background-position: 13px 50%;
  background-repeat: no-repeat;
}

.addthisevent_dropdown .ategoogle {
  background-image: url(../gfx/dropdown-google-t1.png);
  background-position: 13px 50%;
  background-repeat: no-repeat;
}

.addthisevent_dropdown .ateyahoo {
  background-image: url(../gfx/dropdown-yahoo-t1.png);
  background-position: 13px 50%;
  background-repeat: no-repeat;
}

.addthisevent_dropdown .atefacebook {
  background-image: url(../gfx/dropdown-facebook-t1.png);
  background-position: 13px 50%;
  background-repeat: no-repeat;
}

.addthisevent_dropdown .copyx {
  height: 21px;
  display: block;
  position: relative;
  cursor: default;
}

.addthisevent_dropdown .brx {
  height: 1px;
  overflow: hidden;
  background: #e0e0e0;
  position: absolute;
  z-index: 100;
  left: 10px;
  right: 10px;
  top: 9px;
}

/*
	Media queries
*/
@media only screen and (max-width: 320px) {
  .pl-0-320 {
    padding-left: 0px !important;
  }

  .hide-320 {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .fs-10-5-xs {
    font-size: 10.5px;
  }

  .fs-14-5-xs {
    font-size: 14.5px !important;
  }

  .fs-15-5-xs {
    font-size: 15.5px !important;
  }

  .fs-8-xs {
    font-size: 8px !important;
  }

  .fs-9-xs {
    font-size: 9px !important;
  }

  .fs-10-xs {
    font-size: 10px !important;
  }

  .fs-11-xs {
    font-size: 11px !important;
  }

  .fs-12-xs {
    font-size: 12px !important;
  }

  .fs-13-xs {
    font-size: 13px !important;
  }

  .fs-14-xs {
    font-size: 14px !important;
  }

  .fs-15-xs {
    font-size: 15px !important;
  }

  .fs-16-xs {
    font-size: 16px !important;
  }

  .fs-17-xs {
    font-size: 17px !important;
  }

  .fs-18-xs {
    font-size: 18px !important;
  }

  .fs-19-xs {
    font-size: 19px !important;
  }

  .fs-20-xs {
    font-size: 20px !important;
  }

  .fs-21-xs {
    font-size: 21px !important;
  }

  .fs-22-xs {
    font-size: 22px !important;
  }

  .fs-23-xs {
    font-size: 23px !important;
  }

  .fs-24-xs {
    font-size: 24px !important;
  }

  .fs-25-xs {
    font-size: 25px !important;
  }

  .fs-26-xs {
    font-size: 26px !important;
  }

  .fs-27-xs {
    font-size: 27px !important;
  }

  .fs-28-xs {
    font-size: 28px !important;
  }

  .fs-29-xs {
    font-size: 29px !important;
  }

  .fs-30-xs {
    font-size: 30px !important;
  }

  #promo {
    height: 40px;
  }

  .lh-xs {
    line-height: 115% !important;
  }

  .img-profile {
    width: 100%;
  }

  .lh-custom {
    line-height: 1.5 !important;
  }

  .owl-pagination {
    padding-bottom: 0px;
    padding-top: 35px;
  }

  .close-promo-responsive {
    position: relative;
    bottom: 7px;
  }

  .progfin {
    min-height: 86.25rem !important;
  }

  .owl-theme .owl-controls .owl-buttons div {
    display: none;
  }

  .collapse {
    max-height: 550px;
  }

  .collapse.active {
    transition: all 0.2s,max-height 4.8s;
    margin: inherit;
    max-height: 3000px;
    padding: inherit;
    z-index: 200;
    color: #444;
  }

  .btn-form-programas,
  .btn-areas-custom,
  .btn-form-custom,
  .textarea-custom {
    width: 100%;
  }

  .atiende-summit {
    background-size: 600% !important;
  }
  .atiende-summit .bnt-atiende-summit {
    width: 45%;
  }

  #close {
    left: 90%;
  }

  #modal {
    display: none;
    position: absolute;
    background-color: white;
    top: 8%;
    left: 54.6%;
    z-index: 101;
    width: 309px;
    height: 1980px;
    margin-top: -174px;
    margin-left: -170px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }

  .dropdown-custom-size {
    background-size: 5% !important;
  }

  .pl-0-320 {
    padding-left: 0px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .atiende-summit {
    background-size: 600% !important;
  }
  .atiende-summit .btn-atiende-summit {
    width: 45%;
  }

  .collapse {
    max-height: 516px !important;
  }

  .progfin {
    min-height: 86.25rem !important;
  }

  .btn-form-custom {
    width: 100%;
  }

  .logo-mobile > img {
    width: 4%;
  }

  .font-scustom-26 {
    font-size: 26.6px !important;
    font-weight: 100;
  }

  .pt-100-sm {
    padding-top: 100px !important;
  }

  .txt-checkbox-contacto {
    position: relative;
    bottom: 18px;
    right: -40px;
  }

  .textarea-custom {
    width: 100%;
  }

  .pv-115-sm-d {
    padding-top: 115px !important;
    padding-bottom: 115px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .close-promo-responsive {
    position: relative;
    bottom: 3px;
  }

  .progfin {
    min-height: 68.25rem !important;
  }

  .logo-mobile > img {
    width: 3%;
  }

  .w-100-cmd {
    width: 100% !important;
  }

  .w-90-cmd {
    width: 90px !important;
  }

  .fs-20-cmd {
    font-size: 20px !important;
  }

  .ph-0-cmd {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .pt-21-cmd {
    padding-top: 21px !important;
  }

  .pl-14-sm-o {
    padding-left: 14px !important;
  }

  .pl-35-cmd {
    padding-left: 35px !important;
  }

  .pl-49-cmd {
    padding-left: 49px !important;
  }

  .pl-55-cmd {
    padding-left: 55px !important;
  }

  .pl-67-cmd {
    padding-left: 67px !important;
  }

  .pv-115-sm-d {
    padding-top: 115px !important;
    padding-bottom: 115px !important;
  }

  .txt-checkbox-contacto {
    position: relative;
    bottom: 18px;
    right: -40px;
  }

  .textarea-custom {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .collapse {
    max-height: 300px !important;
  }
  .collapse.active {
    transition: all 0.2s,max-height 4.8s;
    margin: 10px -10px;
    max-height: 3000px !important;
    padding: 10px 20px;
    z-index: 200;
    color: #444;
  }

  .progfin {
    min-height: 94.25rem !important;
  }

  .close-promo-responsive {
    position: relative;
    bottom: 8px;
  }

  .btn-form-custom {
    width: 100%;
  }

  .mv-0-custom {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .p-21-sm-d {
    padding: 21px !important;
  }

  .mt-21-sm-d {
    margin-top: 21px !important;
  }

  .mb-21-sm-d {
    margin-bottom: 21px !important;
  }

  .pl-0-sm-d {
    padding-left: 0px !important;
  }

  .pv-1417 {
    padding-top: 14px !important;
    padding-bottom: 17px !important;
  }

  .pv-14-sm-d {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
  }

  .pl-10-sm-d {
    padding-left: 8px !important;
  }

  .ph-0-sm-d {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .pl-27-sm-d {
    padding-left: 27px !important;
  }

  .pv-35-sm-d {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }

  .pl-35-sm-d {
    padding-left: 35px !important;
  }

  .pl-67-sm-d {
    padding-left: 67px !important;
  }

  .mb-21-sm-d {
    margin-bottom: 21px !important;
  }

  .pt-21-sm-d {
    padding-top: 21px !important;
  }

  .pt-70-sm-d {
    padding-top: 70px !important;
  }

  .pv-75-sm-d {
    padding-top: 75px !important;
    padding-bottom: 75px !important;
  }

  .pv-115-sm-d {
    padding-top: 115px !important;
    padding-bottom: 115px !important;
  }

  .pt-100-xs {
    padding-top: 100px !important;
  }

  #modal {
    display: none;
    position: absolute;
    background-color: white;
    top: 8%;
    left: 29%;
    z-index: 101;
    width: 600px;
    height: 1640px;
    padding-top: 35px;
    margin-top: -174px;
    margin-left: -170px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (min-width: 1440px) {
  .ph-0-lgup {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
@media only screen and (min-width: 768px) {
  .container-md {
    width: 100%;
  }

  .pl-0-smup {
    padding-left: 0px !important;
  }

  .pl-28-768 {
    padding-left: 28px !important;
  }

  .pt-22 {
    padding-top: 22px !important;
  }

  .pl-79-sm-6o {
    padding-left: 79px !important;
  }

  .atiende-summit {
    padding-bottom: 35px !important;
    padding-top: 35px !important;
  }
}
@media only screen and (min-width: 640px) {
  .pl-42-6 {
    padding-left: 42px !important;
  }

  .pl-15-sm-6o {
    padding-left: 15px !important;
  }

  .pl-28-sm-6o {
    padding-left: 28px !important;
  }

  .pb-25-sm-6o {
    padding-bottom: 23px !important;
  }

  .pt-69-640 {
    padding-top: 69px !important;
  }

  .ph-0-i {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .ph-14-64 {
    padding-left: 14px !important;
    padding-right: 14px !important;
  }

  .pv-640-customit {
    padding-bottom: 0px !important;
    padding-top: 62px !important;
  }

  .pv-53-sm-d {
    padding-top: 53px !important;
    padding-bottom: 53px !important;
  }

  .mt-21-sm-d {
    margin-top: 21px !important;
  }

  .mt-32 {
    margin-top: 32px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .dropdown-custom-size {
    background-size: 10% !important;
  }

  .mt-22-custom {
    margin-top: 20px !important;
  }

  .progfin {
    min-height: 49.25rem !important;
  }

  .pt-39-768 {
    padding-top: 79px !important;
  }

  .pv-115-sm-d {
    padding-top: 115px !important;
    padding-bottom: 115px !important;
  }

  .pv-53-sm-d {
    padding-top: 53px !important;
    padding-bottom: 53px !important;
  }

  .pl-27-sm-d {
    padding-left: 27px !important;
  }

  .font-scustom-11 {
    font-size: 11.6px !important;
    font-weight: 100;
  }

  .mt-35-custom {
    margin-top: 35px !important;
  }

  .mr-35-custom {
    margin-right: 35px !important;
  }

  #modal {
    display: none;
    position: absolute;
    background-color: white;
    top: 8%;
    left: 34%;
    z-index: 101;
    width: 600px;
    height: 1640px;
    padding-top: 35px;
    margin-top: -174px;
    margin-left: -170px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }

  .pl-0-modal {
    padding-left: 0px !important;
  }

  .fs-11-custom {
    font-size: 11px !important;
  }
}
@media only screen and (min-width: 640px) and (max-width: 960px) {
  .dropdown-custom-size {
    background-size: 3% !important;
  }

  .ph-0-custom {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .mb-21-custom {
    margin-bottom: 21px !important;
  }

  .mb-14-custom {
    margin-bottom: 14px !important;
  }

  .progfin {
    min-height: 46.25rem !important;
  }

  .ph-60-custom {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }

  .pl-56-modal {
    padding-left: 56px !important;
  }

  .pv-42-custom {
    padding-top: 42px !important;
    padding-bottom: 42px !important;
  }

  .pl-30-custom {
    padding-left: 30px !important;
  }

  .pl-42-custom {
    padding-left: 42px !important;
  }

  .pl-7-custom {
    padding-left: 7px !important;
  }

  .pt-0-68 {
    padding-top: 0px !important;
  }

  .mt-0-640 {
    margin-top: 0px !important;
  }

  .mt-70-68 {
    margin-top: 70px !important;
  }

  .mt-111-68 {
    margin-top: 111px !important;
  }

  .pl-30-68 {
    padding-left: 30px !important;
  }

  .mt-40-68 {
    margin-top: 42px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .pt-35-1024 {
    padding-bottom: 35px !important;
  }

  .ph-30-1024 {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .pt-10-custom {
    padding-top: 10px !important;
  }

  .pl-28-1024 {
    padding-left: 28px !important;
  }

  .pl-0-1024 {
    padding-left: 0px !important;
  }

  .pb-35-1024 {
    padding-bottom: 35px !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .collapse {
    max-height: 248px !important;
  }
  .collapse.active {
    transition: all 0.2s,max-height 4.8s;
    margin: 10px -10px;
    max-height: 3000px !important;
    padding: 10px 20px;
    z-index: 200;
    color: #444;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .pl-pt-custom {
    padding-left: 30px !important;
    padding-top: 35px !important;
  }

  .pb-21-custom {
    padding-bottom: 21px !important;
  }

  .pt-35-custom {
    padding-top: 35px !important;
  }

  .mr-21-custom {
    margin-right: 21px !important;
  }

  .mv-0-24 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .p-14-24 {
    padding: 14px !important;
  }

  .progfin {
    min-height: 42.25rem !important;
  }

  .mt-15-cs {
    margin-bottom: 15px !important;
  }

  .mb-15-1024 {
    margin-bottom: 15px !important;
  }
}
@media only screen and (min-width: 299px) and (max-width: 767px) {
  .mt-35-customize {
    margin-top: 35px !important;
  }
}
@media only screen and (max-width: 992px) {
  .site-menu .nav-movil {
    position: fixed;
    height: 55px;
    width: 100%;
    z-index: 99;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
  .site-menu .nav-movil a {
    left: 7%;
    text-align: left;
    position: relative;
    float: left;
    width: 100px;
  }
  .site-menu .nav-movil a img {
    width: 30%;
  }
  .site-menu .nav-movil p {
    position: absolute;
    margin: -30px 0 0 -15px;
    right: 12%;
    width: 70px;
  }
  .site-menu .nav-movil .switch {
    width: 20px;
    height: 17px;
    position: absolute;
    right: 7%;
    margin: -30px 0px 0px -15px;
    cursor: pointer;
  }
  .site-menu .nav-movil .switch.on:after {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .site-menu .nav-movil .switch.on:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .site-menu .nav-movil .switch .menu-toggle {
    width: 100%;
    height: 3px;
    background: #fff;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
  }
  .site-menu .nav-movil .switch.on .menu-toggle {
    opacity: 0;
  }
  .site-menu .nav-movil .switch:before, .site-menu .nav-movil .switch:after {
    content: "";
    display: block;
    height: 3px;
    background: #fff;
    transition: all 0.3s;
    backface-visibility: hidden;
  }
}
@media only screen and (min-width: 768px) {
  .pl-30-smup {
    padding-left: 30px !important;
  }

  .w-84 {
    width: 84% !important;
  }

  .hide-smup {
    visibility: hidden;
  }

  .ph-0-x {
    padding-left: 0px !important;
    padding-right: 14px !important;
  }

  .pl-79-sm-6o {
    padding-left: 79px !important;
  }
}
@media only screen and (min-width: 1920px) {
  .mr-270 {
    margin-left: 270px !important;
  }

  .mr-277 {
    margin-left: 277px !important;
  }

  .mr-343 {
    margin-left: 343px !important;
  }
}
@media only screen and (min-width: 1500px) {
  .mr-270 {
    margin-left: 270px !important;
  }
}
@media only screen and (min-width: 1980px) {
  .mr-270 {
    margin-left: 270px !important;
  }
}

/*# sourceMappingURL=style.css.map */
